.cookies-page {
  background-color: rgba(130, 184, 100, 0.4);
  padding: 2rem;
  min-height: 100vh;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .cookies-container {
    display: flex;
    flex-direction: column; // vertical
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto; // centre la colonne
  }

  .cookie-box {
    background-color: #f1f8fc;
    padding: 1rem;
    border-radius: 8px;

    h2 {
      margin-bottom: 0.5rem;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center; // centre horizontalement
    margin-top: 2rem;
  }

  .btn-custom {
    background-color: #0074c7;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: block;

    &:hover {
      background-color: #00497c;
    }
  }
}

