.liste-artisans-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background-color: rgba(130, 184, 100, 0.4);
  min-height: 100vh;
}


.card-artisan {
  display: flex;
  align-items: row;
  background-color: rgba(130, 184, 100, 0.4);
  border-radius: 12px;
  min-height: 100vh;
  
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
  cursor: pointer;
  transition: all 0.2s ease;
  border: 3px solid rgba(0, 116, 199, 0.7);

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  }
}


.photo-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 116, 199, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .default-icon {
    font-size: 4rem;
    color: #00497c;
  }
}

/* ✅ Infos */
.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    margin: 0;
    font-size: 1.3rem;
    color: #00497c;
  }

  p {
    margin: 0.2rem 0;
    font-size: 1rem;
    color: #00497c;
  }
}

/* ⭐ Étoiles */
.stars {
  display: flex;
  gap: 0.1rem;
  margin-top: 0.3rem;
}


