body {
  @font-face {
  font-family: "Graphik";
  src: url("/assets/fonts/Graphik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

}

/* Mobile-first responsive */
@media (min-width: 768px) {
  main.container {
    max-width: 700px;
  }
}
